body{
	background: lightblue;
}
.degree{
	display: inline-block;
}

#result{
	width: 800px;
	word-break:break-all;
	background: lightgray;
}

button{
	margin-left: 30px;
}

.done{
	width: 40px;
	display: inline-block;
}

.result{
	display: inline-block;
	margin-top: 30px;
	width: 500px;
	height: 10px;
	border-radius: 30%;
	border: solid 1px yellow;
}
.compeleted{
	width: 0;
	height: 100%;
	border-radius: 30%;
	background: lightgreen;
}
.preview img{
	width: 500px;
	margin-top: 30px;
}